.mainscreen-city-card:hover{
    transform: scale(1.05); /* Increase size on hover */
  background-color: rgb(208, 215, 223);
  color:black;
}

.mainscreen-city-card{
    background-color:black;
    cursor: pointer;
    width:10rem;
    height:10rem;
    align-items: center;
    color:white;
}
.customer-mainScreen1{
  padding: .5rem;
  margin: 1rem;
  background-color:rgb(236, 243, 250);
}
.mainscreen1img{
  width: 70%;
  height:auto;
}
.customer-mainscreen1h2{
  height:5rem;
  margin-top:1.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 2rem;
}
.customer-mainscreen1h5{
  padding-top: 0px;
  margin-top:0px;
  font-size: small;
}