.card {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 2rem; 
}

.carousel-container {
  border-radius: 2rem 2rem 0 0; 
  overflow: hidden; /* Hide the overflow to round the images inside */
}

.carousel-item img {
  max-width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 2rem 2rem 0 0; 
}

.imagerounding {
  border-radius: 2rem; 
}
.searchingwarehouse{
margin-top:5%;
margin-left: 8.5%;
}