.moredetails {
  background-color: rgb(196, 199, 202);
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 2%;
  width: 100%;
  padding: 10px;
}



.carousel {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.detailsinfo {
  margin-top: 5%;
  background-color: rgb(239, 239, 248);
  font-family: 'Segoe UI';
  border-radius: 2%;
  font-weight: bold;
  padding: 10px;
}


.refeerOn-services {
  font-family: 'Segoe UI';
  margin-bottom: 5%;
  font-weight: bold;
  margin-left: 10%;
  width: 70%;
}

.contact-now{
  min-width: 10rem;
}
 

