.wrapper{
    height: 100vh;
}
.partner-login{
    height: min-content;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
}
.partner-login-p{
    padding-top: 20px;
    text-align: center;
}