.symbol{
    color: red;
}
.contactcontainer{
    color: aliceblue;
}
.footer-link{
    text-decoration: none;
}
.color{
    color:blue;
}
#rightHalf{
    margin-top:4rem;
    margin-bottom: 3rem;
}
@media (max-width: 768px){
    #rightHalf{
        margin-top: 0rem;
    }
}